body { /*default values*/
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bolder;
  line-height: 60px;
  color: whitesmoke;
  display: flex;
}

.ball { /*just format of the bubble, appearing onclick*/
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 50%;
}

#gameZone { /*1st BIG DIV - game board*/
  margin: 200px;
  width: 2400px;
  height: 2400px;
  background-color: black;
}

#playerZone { /*2nd BIG DIV - start button and numbers*/
  border-left: 20px groove grey;
  height: 2500px;
  width: 1400px;
  margin-top: 50px;
  padding-top: 210px;
  text-align: center;
}

#numbers { /*div with timer and scoring*/
  width: 900px;
  margin-top: 120px;
  padding-bottom: 400px;
  padding-left: 200px;
  font-size: 100px;
  line-height: 200px;
}

#progressbar { /*just timer*/
  padding-left: 100px;
  padding-top: 200px;
  padding-bottom: 1000px;
}

#levelZone { /*3rd BIG DIV - difficulty levels*/
  height: 2000px;
  width: 1200px;
  text-align: center;
}

#level { /*div with text of select your level*/
  margin-top: 160px;
  padding: 20px;
  text-align: center;
}

#infolevel { /*div with description of levels*/
  padding-top: 100px;
  line-height: 120px;
  font-style: italic;
}

button { /*all buttons default-options*/
  padding: 40px;
  width: 600px;
  margin-top: 30px;
  margin: 120px;
  font-size: 80px;
  font-weight: bolder;
  border-radius: 30px;
}

.easy { /*both buttons of this level*/
  color: whitesmoke;
  background: darkgreen;
}

.medium { /*both buttons of this level*/
  color: black;
  background: orange;
}

.hard { /*both buttons of this level*/
  color: yellow;
  background: red;
}

.hardcore { /*both buttons of this level*/
  color: orange;
  background: darkred;
  border-color: yellow;
}

#gameover { /*game over message*/
 color: red;
 border: 20px dotted yellow;
 border-radius: 30px;
 line-height: 200px;
 padding-left: 50px;
 margin-top: 50px; 
}