body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  margin: 200px; 
  border: 20px dotted grey;
  width: 1024px;
  height: 960px;
  background-color: black;
  border-radius: 30px;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#startbutton {
  margin-top: -40px;
  margin-left: 500px;
  background-color: green;
  padding: 20px;
  width: 400px;
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  line-height: 60px;
  color: whitesmoke;
  border-radius: 30px;
}

#counter {
  margin: 200px;
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  line-height: 60px;
  color: whitesmoke;
}

#timer {
  margin: 200px;
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  line-height: 60px;
  color: whitesmoke;
}

#level {
  margin: 100px 500px;
  font-size: 50px;
  font-weight: bolder;
  color: whitesmoke;
}

#easy {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: whitesmoke;
  font-weight: bolder;
  background: darkgreen;
  border-radius: 30px;
}

#easyGame {
  margin-top: -40px;
  margin-left: 500px;
  background-color: green;
  padding: 20px;
  width: 400px;
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  line-height: 60px;
  color: whitesmoke;
  border-radius: 30px;
}

#medium {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: black;
  font-weight: bolder;
  background: orange;
  border-radius: 30px;
}

#mediumGame {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: black;
  font-weight: bolder;
  background: orange;
  border-radius: 30px;
}

#hard {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: yellow;
  font-weight: bolder;
  background: red;
  border-radius: 30px;
}

#hardGame {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: yellow;
  font-weight: bolder;
  background: red;
  border-radius: 30px;
}

#hardcore {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: orange;
  font-weight: bolder;
  background: darkred;
  border-color: yellow;
  border-radius: 30px;
}

#hardcoreGame {
  padding: 20px;
  margin: 60px;
  width: 400px;
  margin-top: 30px;
  font-size: 50px;
  color: orange;
  font-weight: bolder;
  background: darkred;
  border-color: yellow;
  border-radius: 30px;
}